*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
};

body{
    background: #3c5077; 
}
.main-container{
    width: 100%;
    height: 100vh;
    background: #3c5077;
    display: flex;
    justify-content: center;
}
.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn-submit{
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid transparent;
    outline: 0;
    cursor: pointer;
    transition: all 0.3s;

}
#btn-submit:hover{
    background: #f39c12;
    border: 1px solid #f39c12;
    color: #f2f2f2;
}
#pop-up{
    background: #f2f2f2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    padding: 15px 20px;

}
.container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 8PX;

}

.icon{
    width: 80px;
    margin-top: -60PX;
}
.title{
    font-weight: 500;
    color: #262726;
}
.body-text{
    font-size: 0.9REM;
    text-align: center;
    color: #262726;
}
#btn-ok{
    padding:7px 12px;
    border: 1px solid transparent;
    outline: 0;
    background: #56f41d;
    color: #262726;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px 0;
}

#btn-ok:hover{
    background: #f39c12;
    border: 1px solid #f39c12;
    color: #f2f2f2;
}